@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<div class="container">
    <h2>@Html.DisplayFor(model => model.Description)</h2>
    <hr />
    <p>@Html.ActionLink("Back to List", "Index")</p>
</div>