@{
  Layout = "_Layout";
}

@model IEnumerable<ToDoList.Models.Item>

<div class="container">
    <h2 class="fancy-shadow page-header">List</h2>
    <div class="grid-container">
        @foreach(var listItem in Model)
        {
            <div class="grid-item">@Html.DisplayFor(modelItem => listItem.Description)</div>
            <div class="grid-item">@Html.ActionLink("Details", "details", new { id = listItem.ItemId })</div>
        }
    </div>
</div>